*.tv-x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
/* A lot of this taken from or inspired by GBIF's image gallery */
div[id^='spthumbnail'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: .714rem;
    margin-right: .714rem;
}
*.tv-thumb{
    display: none;
    /*background: #dddddd;*/
    padding: 0;
    height: 180px;
    max-width: 100%;
    
    /*width: 207px;*/
    /*height: 127px;
    width: 127px;*/
    /*line-height: 1px;*/
    /*text-align: center;*/
    vertical-align: middle;
    /*border:1px solid #dddddd;*/
}

*.tv-thumb::after {
    content: ".";
    visibility: hidden;
}

.x-quirks {
    padding-bottom: 1px;
}

*.tv-thumb-wrap{
    display:block;
    width:180px;
    height:180px;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    background: center no-repeat #eee;
    background-size: cover;
    overflow:hidden;
    margin: 0 0 .714rem .714rem;
    position: relative;
    
    /*float: left;*/
    /*margin: 4px;*/
    /*
    margin-right: 0;
    //padding: 1px; <-- what was that? :/
    */
}

*.tv-thumb-wrap:hover {
    box-shadow: 0 0 1px 1px rgba(153, 187, 232, 1);
}

.tv-thumb-summary {
    background: rgba(0,0,0,.3);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-size: 12px;
}

*.tv-thumb-wrap[data-width=thinner] {
    width: 108px;
}

*.tv-thumb-wrap[data-width=thin] {
    width: 135px
}

*.tv-thumb-wrap[data-width=wide] {
    width: 270px;
}

*.tv-thumb-wrap[data-width=wider] {
    width: 324px
}

*.tv-thumb-wrap[data-width=widest] {
    width: 360px
}

*.tv-thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    /*width: 86px; /* for ie to ensure that the text is centered */
}

*.tv-x-item-over{
    /*border:1px solid #dddddd;*/
    /*background: #efefef url(over.gif) repeat-x left top;*/
    /*padding: 1px;*/
}

*.tv-x-item-selected{
    /*background: #eff5fb url(selected.gif) no-repeat right bottom;*/
    border:1px solid #99bbe8;
    /*padding: 1px;*/
}
*tv-.x-item-selected .thumb{
    background:transparent;
}

*.tv-loading-indicator {
    font-size:11px;
/*    background-image:url(loading.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;*/
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}