@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

.search {
	color: gray;
	padding: 0rem 2rem;
	margin-top: 2rem;
	margin-bottom: 6rem;
}
.search #mainsearch {
	width: 75%;
}
.search #collectionchoice {
	/*width: 9%;*/
	min-width: 9rem;
	display: inline-block;
    padding: 8px;
    border: 0 !important;
}

.search #collectionchoice:focus {
    border: 0 !important;
    border-width: 0 !important;
    border-color: none !important;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28) !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 250px !important;
}

.search-entry {
    padding-top: 4px;
    padding-bottom: 3px
}

.search-entry-img {
    float: left;
    width: 60px;
    margin-right: 10px
}

.search-entry-img img {
    width: 100%;
    height: auto;
    border-radius: 2px
}

.search-entry-meta {
    margin-left: 70px
}

.search-entry-title {
    color: black;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px
}

.search-entry-term {
    /* css for the first "search for <text>" entry */
}

/*.select2-result-repository__forks,.select2-result-repository__stargazers {
    margin-right: 1em
}

.select2-result-repository__forks,.select2-result-repository__stargazers,.select2-result-repository__watchers {
    display: inline-block;
    color: #aaa;
    font-size: 11px
}*/

.search-entry-description {
    font-size: 13px;
    color: #777;
    margin-top: 4px
}

/*.select2-results__option--highlighted .select2-result-repository__title {
    color: white
}

.select2-results__option--highlighted .select2-result-repository__forks,.select2-results__option--highlighted .select2-result-repository__stargazers,.select2-results__option--highlighted .select2-result-repository__description,.select2-results__option--highlighted .select2-result-repository__watchers {
    color: #c6dcef
}*/

/* * * * * * * * * * * * * * * * 
    EXTERNAL OVERRIDED STYLING 
 * * * * * * *  * * * * * * * * */
 
.select2-container--default .select2-selection--multiple {
    border: none !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28) !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-left: 7px !important;
}

.select2-results__option {
    padding: 10px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #
}

select {
    border-radius: 4px !important;
    border-color: none !important;
}

select {
    border-width: 0px !important;
    border-style: none !important;
}

.select2-input {
    height: 45px !important;
}